# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
data/*.csv
# Model files
saved_models/*.pkl

# Logs
*.log

# Python packages
*.egg-info/
*.egg
dist/
build/

# Environment files
*.env

# Pytest cache
.pytest_cache/

# Coverage
htmlcov/
.coverage
